*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    scroll-behavior: smooth

body
    font-family: 'Roboto', sans-serif
    background: #d5d1d1

button, 
a,
input,
textarea
    outline: none

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
  -webkit-appearance: none
  margin: 0

.ir-arriba
    display: none
    background: none
    font-size: 20px
    color: #fab529
    cursor: pointer
    position: fixed
    bottom: 20px
    right: 20px
    i
        font-size: 45px

.btn-whatsapp
    width: 45px
    height: 45px
    padding: 7px
    text-align: center
    background: none
    font-size: 20px
    cursor: pointer
    position: fixed
    background: #25D366
    color: #fff
    bottom: 70px
    right: 20px
    border-radius: 50%
    i
        font-size: 30px
        line-height: 30px
    &:hover
        background: #075E54


