* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #d5d1d1;
}

button,
a,
input,
textarea {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ir-arriba {
  display: none;
  background: none;
  font-size: 20px;
  color: #fab529;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.ir-arriba i {
  font-size: 45px;
}

.btn-whatsapp {
  width: 45px;
  height: 45px;
  padding: 7px;
  text-align: center;
  background: none;
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  background: #25D366;
  color: #fff;
  bottom: 70px;
  right: 20px;
  border-radius: 50%;
}
.btn-whatsapp i {
  font-size: 30px;
  line-height: 30px;
}
.btn-whatsapp:hover {
  background: #075E54;
}

.nav-desktop {
  width: 100%;
  height: 80px;
  display: none;
  justify-content: flex-end;
  align-items: center;
  background: #2b2924;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
.nav-desktop .nav-desktop__lista {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 50px;
  transition: 0.3s all ease;
}
.nav-desktop .nav-desktop__lista li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  transition: 0.3s all ease;
}
.nav-desktop .nav-desktop__lista li a:hover {
  color: #fab529;
}

.nav-mobile {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  width: 100%;
  align-items: center;
  padding: 0 10px;
}
.nav-mobile .enlaces-mobile {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  right: 0;
  width: 100%;
  height: 70vh;
  padding: 80px 0 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  clip-path: circle(0% at 100% 0);
  font-weight: 300;
  transition: ease-in-out 0.5s;
}
.nav-mobile .enlaces-mobile li {
  list-style: none;
}
.nav-mobile .enlaces-mobile li a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s all ease;
}
.nav-mobile .enlaces-mobile li a:hover {
  color: #fab529;
}
.nav-mobile .hamburguer {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b2924;
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;
  transition: 0.5s all ease;
}
.nav-mobile .hamburguer i {
  color: #efefef;
  font-size: 30px;
}
.nav-mobile .menuDos {
  clip-path: circle(150% at 100% 0);
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .portada {
  display: none;
}

.nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.nav__logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}
.nav__logo img {
  width: 90%;
}

.portada-titulo {
  width: 90%;
  margin: 20px 0;
}
.portada-titulo h2 {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 150px;
}

.portada__datos {
  width: 90%;
  margin: 20px 0;
}
.portada__datos p {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 30px;
  text-align: center;
  font-size: 15px;
}

.contenedor-portada-mobile {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/law-firm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contenedor-estudio {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #efefef;
  padding: 30px 0 45px 0;
}

.estudio__img {
  width: 100%;
  display: none;
  justify-content: center;
  margin: 20px 0;
}
.estudio__img img {
  width: 200px;
}

.estudio__info {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.estudio__info h2 {
  font-size: 25px;
  margin: 20px 0;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.estudio__info .estudio__descripcion {
  font-size: 16px;
  text-align: center;
}

.contenedor-pilares {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/clientes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contenedor-pilares .pilares__contenedor {
  width: 90%;
  background: rgba(0, 0, 0, 0.6);
  margin: 30px 0;
  color: #ffffff;
}
.contenedor-pilares .pilares__contenedor .estudio__titulo-mobile {
  font-size: 25px;
  margin: 45px 0;
  font-weight: 400;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.contenedor-pilares .pilares__contenedor .pilares__iconos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 70px;
}
.contenedor-pilares .pilares__contenedor .pilares__iconos .pilares__icono-titulo {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.contenedor-pilares .pilares__contenedor .pilares__iconos .pilares__icono-titulo p {
  font-size: 14px;
  color: #efefef;
}
.contenedor-pilares .pilares__contenedor .pilares__iconos .pilares__icono-titulo span {
  width: 70px;
  height: 70px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-pilares .pilares__contenedor .pilares__iconos .pilares__icono-titulo span i {
  font-size: 55px;
  color: #efefef;
}

.contenedor-servicios {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2b2924;
  color: #efefef;
}
.contenedor-servicios h2 {
  font-size: 25px;
  margin: 45px 0;
  font-weight: 400;
  color: #efefef;
  font-family: "Open Sans", sans-serif;
}

.servicios__item-contenedor {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.servicios__item-contenedor .servicios__item {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: space-around;
}
.servicios__item-contenedor .servicios__item .servicios__icono-titulo {
  width: 140px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.servicios__item-contenedor .servicios__item .servicios__icono-titulo span {
  width: 80px;
  height: 80px;
  background: #fab529;
  padding: 25px;
  margin: 15px 0;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicios__item-contenedor .servicios__item .servicios__icono-titulo span i {
  font-size: 45px;
}
.servicios__item-contenedor .servicios__item h3 {
  font-size: 20px;
  font-weight: normal;
  color: #efefef;
}
.servicios__item-contenedor ul {
  margin: 15px 10px 15px 25px;
  width: 70%;
}
.servicios__item-contenedor ul li {
  font-size: 15px;
  font-weight: normal;
  color: #efefef;
  list-style: square;
}

.contenedor-clientes {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/clientes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.clientes__desktop {
  display: none;
}

.clientes__card {
  width: 90%;
  background: rgba(0, 0, 0, 0.6);
  margin: 30px 0;
  color: #ffffff;
}
.clientes__card h2 {
  font-size: 25px;
  margin: 45px 0;
  font-weight: 400;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.clientes__card ul {
  margin: 0 50px 20px 50px;
  list-style-type: square;
}

.contenedor-contacto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #efefef;
}

.formulario {
  width: 90%;
  padding: 20px 0;
}

.formulario__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formulario__grupo {
  width: 90%;
}
.formulario__grupo input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}
.formulario__grupo textarea {
  width: 100%;
  height: 85px;
  margin: 10px 0;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  resize: none;
  font-size: 16px;
}

.formularo__telYmail {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formularo__telYmail .email, .formularo__telYmail .telefono {
  width: 100%;
}

.formulario__boton {
  width: 90%;
  height: 45px;
  background: #fab529;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 3px 6px 11px 0px rgba(0, 0, 0, 0.49);
}
.formulario__boton:hover {
  background: #b18122;
}

.contacto__datos {
  width: 90%;
  margin: 20px 0;
}
.contacto__datos h2 {
  color: #000;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__contenedor {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  background: #d5d1d1;
}

.footer__datos {
  width: 70%;
  color: #575656;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__datos p {
  font-size: 14px;
}

.footer__img {
  width: 25%;
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__img img {
  width: 90px;
}

@media screen and (min-width: 950px) {
  .nav, .foot, .estudio__img, .clientes__mobile, .clientes__titulo, .estudio__titulo-mobile, .footer__datos {
    display: none;
  }

  .nav-desktop {
    display: flex;
  }

  .contenedor-estudio {
    height: 320px;
  }

  .contenedor-servicios, .contenedor-clientes {
    height: 500px;
  }

  .contenedor-portada-mobile {
    width: 50%;
  }
  .contenedor-portada-mobile .portada-titulo h2 {
    padding: 50px;
  }

  .header {
    height: 100vh;
  }
  .header .portada {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #2b2924;
  }
  .header .portada .portada__img {
    width: 380px;
    margin: 100px 0 100px 0;
  }
  .header .portada .portada__img img {
    width: 100%;
  }
  .header .portada .portada__datos {
    width: 90%;
    margin-bottom: 80px;
  }
  .header .portada .portada__datos p {
    color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    background: none;
  }
  .header .contenedor-contacto {
    width: 50%;
  }

  .formulario {
    margin-bottom: 35px;
    width: 60%;
  }

  .formularo__telYmail {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .formularo__telYmail .email, .formularo__telYmail .telefono {
    width: 45%;
  }

  .textarea textarea {
    height: 300px;
  }

  .estudio__info {
    align-items: flex-start;
  }
  .estudio__info h2 {
    margin-bottom: 45px;
  }
  .estudio__info .estudio__descripcion {
    font-size: 18px;
  }
  .estudio__info .estudio__descripcion li {
    margin: 5px 60px;
  }

  .estudio__info, .contenedor-servicios h2, .clientes__titulo-desktop {
    width: 85%;
  }

  .contenedor-pilares .pilares__contenedor .pilares__iconos .pilares__icono-titulo {
    width: 20%;
  }
  .contenedor-pilares .pilares__contenedor .pilares__iconos .pilares__icono-titulo span {
    height: 100px;
  }
  .contenedor-pilares .pilares__contenedor .pilares__iconos .pilares__icono-titulo span i {
    font-size: 90px;
    margin-bottom: 20px;
  }
  .contenedor-pilares .pilares__contenedor .pilares__iconos .pilares__icono-titulo p {
    font-size: 25px;
  }

  .pilares__iconos {
    padding-top: 70px;
  }

  .contenedor-servicios {
    padding-bottom: 0;
  }

  .servicios__item-contenedor {
    flex-direction: row;
    width: 80%;
  }
  .servicios__item-contenedor .servicios__item {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    margin: 10px;
    padding: 20px;
  }
  .servicios__item-contenedor .servicios__item ul {
    width: 100%;
    margin-left: 30px;
  }
  .servicios__item-contenedor .servicios__item .servicios__icono-titulo {
    width: 250px;
  }

  .clientes__card {
    width: 80%;
  }

  .clientes__desktop {
    display: flex;
    justify-content: center;
    height: 250px;
    padding: 35px 0 0 0;
    color: #efefef;
  }
  .clientes__desktop ul li {
    padding: 3px;
  }

  .clientes__titulo-desktop, .estudio__titulo-desktop {
    font-size: 25px;
    font-weight: 400;
    margin-top: 35px;
    color: #efefef;
  }

  .pilares-titulo {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    padding-top: 35px;
  }

  .contacto__datos {
    width: 85%;
    display: flex;
    justify-content: flex-start;
  }
  .contacto__datos h2 {
    font-size: 25px;
    font-weight: 400;
    margin-top: 35px;
  }

  .contenedor-pilares {
    padding-bottom: 50px;
  }

  .footer__contenedor {
    width: 80%;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .footer__contenedor .footer__datos-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin: 0;
    color: #575656;
  }
  .footer__contenedor .footer__datos-desktop p {
    margin: 0 10px 0 10px;
  }
  .footer__contenedor .footer__img {
    width: 150px;
    margin: 30px 0;
  }
}
@media screen and (max-width: 950px) {
  .clientes__titulo-desktop, .footer__datos-desktop, .estudio__titulo-desktop {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
