* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #d5d1d1;
}

button,
a,
input,
textarea {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav-desktop {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #2b2924;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}
.nav-desktop .nav-desktop__lista {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 50px;
  transition: 0.3s all ease;
}
.nav-desktop .nav-desktop__lista li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  transition: 0.3s all ease;
}
.nav-desktop .nav-desktop__lista li a:hover {
  color: #fab529;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .portada {
  display: none;
}

.nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.nav__logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}
.nav__logo img {
  width: 90%;
}

.nav__boton {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b2924;
  border-radius: 10px;
}
.nav__boton i {
  color: #efefef;
  font-size: 30px;
}

.contenedor-estudio {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #efefef;
  padding: 30px 0 45px 0;
}

.estudio__img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.estudio__img img {
  width: 200px;
}

.estudio__info {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.estudio__info h2 {
  font-size: 25px;
  margin: 20px 0;
  font-weight: 400;
}
.estudio__info p {
  font-size: 20px;
  text-align: center;
}

.contenedor-servicios {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2b2924;
  color: #efefef;
}
.contenedor-servicios h2 {
  font-size: 25px;
  margin: 45px 0;
  font-weight: 400;
  color: #efefef;
}

.servicios__item-contenedor {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.servicios__item-contenedor .servicios__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.servicios__item-contenedor .servicios__item div {
  width: 80px;
  height: 80px;
  background: #fab529;
  padding: 25px;
  margin: 15px 0;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicios__item-contenedor .servicios__item div i {
  font-size: 45px;
}
.servicios__item-contenedor .servicios__item h3 {
  font-size: 20px;
  font-weight: normal;
  color: #efefef;
}
.servicios__item-contenedor .servicios__item p {
  font-size: 16px;
  font-weight: normal;
  margin: 15px 0;
  text-align: center;
  color: #efefef;
}

.contenedor-clientes {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/clientes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.clientes__desktop {
  display: none;
}

.clientes__card {
  width: 90%;
  background: rgba(0, 0, 0, 0.6);
  margin: 30px 0;
  color: #ffffff;
}
.clientes__card h2 {
  font-size: 25px;
  margin: 45px 0;
  font-weight: 400;
  text-align: center;
}
.clientes__card ul {
  margin: 0 50px 20px 50px;
  list-style-type: square;
}

.contenedor-contacto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/law-firm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.formulario {
  width: 90%;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}

.formulario__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formulario__grupo {
  width: 90%;
}
.formulario__grupo input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}
.formulario__grupo textarea {
  width: 100%;
  height: 85px;
  margin: 10px 0;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  resize: none;
  font-size: 16px;
}

.formulario__boton {
  width: 90%;
  height: 45px;
  background: #fab529;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.formulario__boton:hover {
  background: #b18122;
}

.btn-whatsapp {
  width: 250px;
  margin: 10px 0;
  padding: 10px;
  background: #25D366;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.btn-whatsapp i {
  font-size: 25px;
  margin-right: 10px;
}
.btn-whatsapp:hover {
  background: #075E54;
}

.contacto__datos {
  width: 90%;
  margin: 20px 0;
}
.contacto__datos p {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 30px;
  text-align: center;
  font-size: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__contenedor {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  background: #d5d1d1;
}

.footer__datos {
  width: 70%;
  color: #575656;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__datos p {
  font-size: 14px;
}

.footer__img {
  width: 25%;
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__img img {
  width: 90px;
}

@media screen and (min-width: 950px) {
  .nav, .foot, .estudio__img, .clientes__mobile, .clientes__titulo, .footer__datos {
    display: none;
  }

  .contenedor-estudio, .contenedor-servicios, .contenedor-clientes {
    height: 500px;
  }

  .header {
    height: 100vh;
  }
  .header .portada {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #2b2924;
  }
  .header .portada .portada__img {
    width: 380px;
    margin: 100px 0 100px 0;
  }
  .header .portada .portada__img img {
    width: 100%;
  }
  .header .portada .portada__datos {
    width: 90%;
    margin: 20px 0;
  }
  .header .portada .portada__datos p {
    color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
  }
  .header .contenedor-contacto {
    width: 50%;
  }

  .formulario {
    margin-bottom: 35px;
  }

  .estudio__info {
    align-items: flex-start;
  }

  .contenedor-servicios h2 {
    width: 80%;
  }

  .servicios__item-contenedor {
    width: 80%;
    flex-direction: row;
  }
  .servicios__item-contenedor .servicios__item {
    width: 30%;
    margin: 0 10px;
  }

  .clientes__card {
    width: 80%;
  }

  .clientes__desktop {
    display: flex;
    justify-content: center;
    height: 250px;
    padding: 35px 0 0 0;
    color: #efefef;
  }
  .clientes__desktop ul li {
    padding: 3px;
  }

  .clientes__titulo-desktop {
    width: 80%;
    font-size: 25px;
    font-weight: 400;
    margin-top: 35px;
    color: #efefef;
  }

  .footer__contenedor {
    width: 80%;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .footer__contenedor .footer__datos-desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin: 0;
    color: #575656;
  }
  .footer__contenedor .footer__datos-desktop p {
    margin: 0 10px 0 10px;
  }
  .footer__contenedor .footer__img {
    width: 150px;
    margin: 30px 0;
  }
}
@media screen and (max-width: 950px) {
  .clientes__titulo-desktop, .footer__datos-desktop {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
